
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
 
    RewriteRule ^sendmail_test$ pos_mail/testdata_pos.php

    RewriteRule ^cv_liste$ pos_cv/pos_cv.php

    RewriteRule ^sendindex$ pos_mail/index.html
   
</IfModule>